<div id="add-card-dialog-container">
  <form>
    <table>
      <tr>
        <td>
          <mat-form-field appearance="outline" color="accent">
            <mat-label>First Name</mat-label>
            <input matInput required [(ngModel)]="firstName" name="firstName" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline" color="accent">
            <mat-label>Last Name</mat-label>
            <input matInput required [(ngModel)]="lastName" name="lastName" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field id="year-field" appearance="outline" color="accent">
            <mat-label>Year</mat-label>
            <input matInput required [(ngModel)]="year" name="year" maxlength="4" value="2000" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline" color="accent">
            <mat-label>Sport</mat-label>
            <mat-select required [(ngModel)]="sport" name="sport">
              <mat-option value="Baseball">Baseball</mat-option>
              <mat-option value="Basketball">Basketball</mat-option>
              <mat-option value="Football">Football</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field appearance="outline" color="accent">
            <mat-label>Manufacturer</mat-label>
            <mat-select required [(ngModel)]="manufacturer" name="manufacturer">
              <mat-option *ngFor="let mfr of manufacturers" [value]="mfr">{{ mfr }}</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline" color="accent">
            <mat-label>Sub Set</mat-label>
            <input matInput [(ngModel)]="subSet" name="subSet" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field appearance="outline" color="accent">
            <mat-label>Card Number</mat-label>
            <input matInput [(ngModel)]="cardNumber" name="cardNumber" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline" color="accent" id="psa-value-field">
            <mat-label>PSA Value</mat-label>
            <input matInput required [(ngModel)]="psaValue" name="psaValue" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button type="submit" (click)="closeDialog()" mat-flat-button id="add-card-dialog-button" color="primary">
            Add Card
          </button>
        </td>
      </tr>
    </table>
  </form>
</div>