.component-container {
  margin: 25px;
}

.add-button {
  float: right;
  margin-right: 50px;
}

.mat-column-edit {
  margin: auto;
}

.mat-column-psaValue {
  border-right: 1px solid rgba(255, 255, 255, 0.12);
}

.trash-icon, .edit-icon {
  cursor: pointer;
  float: left;
}

#edit-delete-col {
  padding: 6px;
  width: 60px;
}

#add-card-button {
  width: 100%;
  border-radius: 0;
  display: block;
  margin: auto;
  height: 50px;
}

#add-card-icon {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#all-cards-table {
  min-width: 450px;
}

#psa-value-header {
  display: flex;
  padding: 21px 0;
  justify-content: flex-end;
}

#psa-value {
  text-align: right;
}