<div #appcontainer class="dark-theme app-container">
  <mat-drawer-container>
    <mat-drawer #drawer mode="push" [opened]="false">
      <mat-nav-list role="list">
        <a mat-list-item 
          id="hamburger-menu-list-item"
          routerLinkActive="activebutton"
          routerLink="/all-cards">
            All Cards
        </a>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <mat-toolbar id="main-toolbar" color="accent">
        <button mat-icon-button id="hamburger-icon" (click)="drawer.toggle()" aria-label="Button with a menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span id="app-title">Combs Card Collection</span>
        <span id="links">
          <a id="psa-link" target="_blank" href="https://www.psacard.com/auctionprices">
            <img src="../assets/images/psa.png" height="20px" />
          </a>
          <a id="ebay-link" target="_blank" href="https://www.ebay.com/b/Trading-Cards/">
            <img src="../assets/images/ebay.png" height="20px" />
          </a>
        </span>
        <span>
          <button mat-icon-button extended class="drip-icon" aria-label="Theme icon" (click)="toggleTheme()">
            <mat-icon>water_drop</mat-icon>
          </button>
        </span>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>